absl-py==2.1.0
aiodns==3.2.0
aiohttp==3.9.5
aiosignal==1.3.1
alpaca-py==0.21.1
alpaca-trade-api==3.2.0
alpha-vantage==2.3.1
altair==5.1.2
annotated-types==0.6.0
anyio==4.0.0
appdirs==1.4.4
appnope==0.1.3
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
asr-evaluation @ git+https://github.com/belambert/asr-evaluation.git@1f5598601ed4064f3518a4b1f1b9f9bcfd9a307b
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
bcrypt==4.1.3
beautifulsoup4==4.12.2
bidict==0.23.1
bleach==6.0.0
blinker==1.6.3
blis==0.7.11
cachetools==5.3.2
catalogue==2.0.10
ccxt==4.2.85
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmdstanpy==1.2.4
comm==0.1.4
confection==0.1.4
contourpy==1.1.1
cryptography==42.0.7
cycler==0.11.0
cymem==2.0.8
Cython==3.0.5
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
Django==5.0
dnspython==2.6.1
docx==0.2.4
docx2txt==0.8
duckdb==0.10.2
edit-distance==1.0.6
email_validator==2.1.1
exchange_calendars==4.5.4
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.13.1
Flask==3.0.0
Flask-BabelEx==0.9.4
Flask-Login==0.6.3
Flask-Mail==0.9.1
flask-marshmallow==1.2.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.42.1
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2023.12.2
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.40
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.25.2
google-generativeai==0.3.2
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
gym==0.26.2
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
h11==0.14.0
h5py==3.11.0
holidays==0.51
html5lib==1.1
htmlmin==0.1.12
huggingface-hub==0.20.1
ibapi==9.81.1.post1
idna==3.4
ImageHash==4.3.1
importlib-metadata==6.8.0
importlib_resources==6.4.0
inflection==0.5.1
iniconfig==2.0.0
install==1.3.5
ipykernel==6.25.2
ipython==8.24.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
joblib==1.1.1
json5==0.9.14
jsonpickle==3.0.4
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keras==3.4.1
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
langcodes==3.3.0
libclang==18.1.1
llvmlite==0.42.0
lumibot==3.4.1
lumiwealth-tradier==0.1.7
lxml==5.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.2
marshmallow-sqlalchemy==1.0.0
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.5.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.5
multimethod==1.11.2
multitasking==0.0.11
murmurhash==1.0.10
namex==0.0.8
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nes-py==8.2.1
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
notebook==7.0.4
notebook_shim==0.2.3
numba==0.59.1
numpy==1.26.4
openai-whisper==20231117
opt-einsum==3.3.0
optree==0.11.0
overrides==7.4.0
packaging==23.1
pandas==2.2.2
pandas-datareader==0.10.0
pandas-profiling==3.2.0
pandas_market_calendars==4.4.0
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pdfminer==20191125
peewee==3.17.5
pexpect==4.8.0
phik==0.12.4
pickleshare==0.7.5
Pillow==10.0.1
platformdirs==3.10.0
plotly==5.20.0
pluggy==1.5.0
ply==3.11
polygon-api-client==1.13.7
preshed==3.0.9
prometheus-client==0.17.1
prompt-toolkit==3.0.43
prophet==1.1.5
proto-plus==1.23.0
protobuf==4.24.4
psutil==5.9.5
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycares==4.4.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
pyglet==1.5.21
Pygments==2.16.1
pyluach==2.2.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyproject-toml==0.0.10
pytest==8.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.9.0
python-json-logger==2.0.7
python-socketio==5.11.2
pytz==2023.3.post1
PyWavelets==1.5.0
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
Quandl==3.7.0
quantstats-lumi==0.2.0
referencing==0.30.2
regex==2023.12.25
reportlab==4.1.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.10.3
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.13.0
seaborn==0.13.2
Send2Trash==1.8.2
setuptools==68.2.2
simple-websocket==1.0.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speaklater==1.3
SQLAlchemy==2.0.30
sqlparse==0.4.4
srsly==2.4.8
sseclient-py==1.8.0
stack-data==0.6.2
stanio==0.5.0
streamlit==1.28.0
streamlit-option-menu==0.3.6
streamlit-pandas-profiling==0.1.3
sympy==1.12
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==2.4.0
terminado==0.17.1
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.6.0
timedelta==2020.12.3
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.3.0
torchaudio==2.3.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.3
transformers==4.36.2
typer==0.9.0
typing==3.7.4.3
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uri-template==1.3.0
urllib3==1.26.18
uuid==1.30
validators==0.22.0
visions==0.7.4
wasabi==1.1.2
wcwidth==0.2.8
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==10.4
Werkzeug==3.0.1
wheel==0.41.3
whisper==1.1.10
widgetsnbextension==4.0.9
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
yarl==1.9.4
yfinance==0.2.38
zipp==3.17.0
